*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerHeader{
    width: 100%;
    height: 500px;
    background-color: #39a900;
}
.containerHeader > .subcontainerHeader{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .container1{
    width: 45%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.subcontainerHeader > .container2{
    width: 45%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container1 > .containerImg{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImg > .imgYo{
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
}
.container1 > .containerName{
    width: 95%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameHeader{
    font-size: 1.35rem;
    color: white;
}
.container2 > .containerTittleHeader{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTittleHeader > .tittleHeader{
    color: #012801;
}
.container2 > .containerParagraphHeader{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
}
.containerParagraphHeader > .paragraphHeader{
    color: white;
}


/*                            container del body       */


/*                            container proyects      */

.containerBody{
    width: 100%;
    height: 3310px;
}
.containerBody > .containerProyectos{
    width: 100%;
    height: 960px;
}
.containerProyectos > .subcontainerProyectos{
    width: 100%;
    height: 960px;
}
.subcontainerProyectos > .containertittle{
    width: 99%;
    height: 8rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.containertittle > .logoImgSena{
    width: 30%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoImgSena > .imgSena{
    width: 5rem;
    height: 5rem;
    background-color: #c1ff95;
    border-radius: 50%;
}
.containertittle > .containerTittleProyect{
    width: 60%;
    height: 6rem;
    display: flex;
    align-items: center;
}
.containerTittleProyect > .tittleProyect{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5b5d;   
}
.subcontainerProyectos > .containerLine{
    width: 99%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 90%;
    height: 15px;
    background-color:#c1ff95;
    border-radius: 10rem;
}

.subcontainerProyectos > .containerCardsProyectos{
    width: 99%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCardsProyectos > .cardsProyectos1{
    width: 90%;
    height: 10rem;
    background-color: #39a900;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardsProyectos1 > .contImgCard1{
    width: 30%;
    height: 6rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contImgCard1 > .imgproyect1{
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}
.cardsProyectos1 > .contInformation1{
    width: 50%;
    height: 8rem;
}
.contInformation1 > .contTittlecard1{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contTittlecard1 > .tittleProye{
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contInformation1 > .contparagraphcard1{
    width: 100%;
    height: 4rem;
}
.contparagraphcard1 > .descriptionproye{
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contInformation1 > .contparagraphcard11{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}
.contparagraphcard11 > .descproyect{
    color: black;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}



/*                            container references      */


.containerBody > .containerReferences{
    width: 100%;
    height: 360px;
}
.containerReferences > .subcontainerReferences{
    width: 100%;
    height: 960px;
}
.subcontainerReferences > .containertittleReferences{
    width: 99%;
    height: 8rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.containertittleReferences > .logoImgSenaReferences{
    width: 30%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoImgSenaReferences > .imgSenaReferences{
    width: 5rem;
    height: 5rem;
    background-color: #c1ff95;
    border-radius: 50%;
}
.containertittleReferences > .containerTittleReferences{
    width: 60%;
    height: 6rem;
    display: flex;
    align-items: center;
}
.containerTittleReferences > .tittleReferences{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5b5d;   
}
.subcontainerReferences > .containerLineReferences{
    width: 99%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerReferences > .containerCardsReferences{
    width: 99%;
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCardsReferences > .subContainerCardsReferences{
    width: 99%;
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subContainerCardsReferences > .cardReferences{
    width: 70%;
    height: 15rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 10px solid black;
}
.cardReferences > .containerName{
    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.containerName > .nameCardReferences{
    font-size: 20px;
}
.cardReferences > .containerCargo{
    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.containerCargo > .cargoCardReferences{
    font-size: 20px;
}
.cardReferences > .containerTelefono{
    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.containerTelefono > .telefonoCardReferences{
    font-size: 20px;
}
.cardReferences > .containerCorreo{
    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.containerCorreo > .correoCardReferences{
    font-size: 18px;
}

/*                            container Experiences      */

.containerBody > .containerExperience{
    width: 100%;
    height: 1280px;
}
.containerExperience > .subcontainerExperience{
    width: 100%;
    height: 1270px;
}
.subcontainerExperience > .containertittleExperience{
    width: 99%;
    height: 8rem;
    display: flex;
    align-items: center;
}

.containertittleExperience > .logoImgSenaExperience{
    width: 30%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoImgSenaExperience > .imgSenaExperience{
    width: 5rem;
    height: 5rem;
    background-color: #c1ff95;
    border-radius: 50%;
}
.containerTittleExperience > .tittleExperience{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5b5d;   
}
.subcontainerExperience > .containerLineExperience{
    width: 99%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerExperience > .subContainerCardsExperience{
    width: 99%;
    height: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subContainerCardsExperience > .cardExperience{
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.cardExperience > .iconExperience{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.iconExperience > .iconExperience1{
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 10%;
}
.cardExperience > .barraExperience{
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.barraExperience > .barraExperienceContainer{
    width: 60%;
    height: 3rem;
}
.cardExperience > .nameIconExperience{
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width: 393px) and (max-width: 852px) {
  /*                             conainer header        */
    .containerHeader{
        width: 100%;
        height: 470px;
        background-color: #39a900;
    }
    .container1 > .containerName{
        width: 95%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (min-width: 480px) and (max-width: 1040px) {
    /*                             conainer header        */
      .containerHeader{
          width: 100%;
          height: 400px;
          background-color: #39a900;
      }
      .container1 > .containerName{
        width: 95%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  }
@media screen and (min-width: 820px) and (max-width: 1180px) { 
    
    /*                            conainer header        */
    .containerHeader{
        width: 100%;
        height: 350px;
        background-color: #39a900;
    }
    /*                            container del body       */
    .containerBody{
        width: 100%;
        height: 1770px;
    }
    /*                            conainer proyects        */
    .containerBody > .containerProyectos{
        width: 100%;
        height: 550px;
    }
    .subcontainerProyectos > .containerCardsProyectos{
        width: 99%;
        height: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .containerCardsProyectos > .cardsProyectos1{
        width: 45%;
        height: 10rem;
        background-color: #39a900;
        border-radius: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
/*                            conainer references        */
   .subcontainerReferences > .containerCardsReferences{
        width: 99%;
        height: 310px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .containerCardsReferences > .subContainerCardsReferences{
        width: 99%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .subContainerCardsReferences > .cardReferences{
        width: 30%;
        height: 15rem;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 10px solid black;
    }
/*                            conainer experience       */
    .containerBody > .containerExperience{
       width: 100%;
       height: 730px;
    }
    .containerExperience > .subcontainerExperience{
        width: 100%;
        height: 760px;
    }

    .subcontainerExperience > .subContainerCardsExperience{
        width: 99%;
        height: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .subContainerCardsExperience > .cardExperience{
        width: 40%;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}


@media screen and (max-width: 1555px) and (min-width: 738px) { 
    
    /*                            container header        */
    .containerHeader{
        width: 100%;
        height: 340px;
        background-color: #39a900;
    }

    .container2 > .containerTittleHeader{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerTittleHeader > .tittleHeader{
        color: #012801;
    }
    .container2 > .containerParagraphHeader{
        width: 100%;
        height: 12rem;
        display: flex;
        justify-content: center;
    }
        /*                            container del body       */
        .containerBody{
            width: 100%;
            height: 1770px;
        }
        /*                            conainer proyects        */
        .containerBody > .containerProyectos{
            width: 100%;
            height: 550px;
        }
        .subcontainerProyectos > .containerCardsProyectos{
            width: 99%;
            height: 400px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .containerCardsProyectos > .cardsProyectos1{
            width: 45%;
            height: 10rem;
            background-color: #39a900;
            border-radius: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    /*                            conainer references        */
       .subcontainerReferences > .containerCardsReferences{
            width: 99%;
            height: 310px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        .containerCardsReferences > .subContainerCardsReferences{
            width: 99%;
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .subContainerCardsReferences > .cardReferences{
            width: 30%;
            height: 15rem;
            background-color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            border: 10px solid black;
        }
    /*                            conainer experience       */
        .containerBody > .containerExperience{
           width: 100%;
           height: 730px;
        }
        .containerExperience > .subcontainerExperience{
            width: 100%;
            height: 760px;
        }
    
        .subcontainerExperience > .subContainerCardsExperience{
            width: 99%;
            height: 600px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .subContainerCardsExperience > .cardExperience{
            width: 40%;
            height: 250px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
}


@media screen and (max-width: 1559px) and (min-width: 975px) { 
    
    /*                            container header        */
    body{
        width: 100%;
        display: flex;
        background-color: antiquewhite;
    }
    header{
        width: 40%;
    }
    .containerHeader{
        background-color: #39a900;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        width: 500px; /* Ancho del contenedor fijo */
        height: 980px; /* Altura completa de la ventana */
    }
    .containerHeader > .subcontainerHeader{
        width: 100%;
        height: 690px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .subcontainerHeader > .container1{
        width: 85%;
        height: 370px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .subcontainerHeader > .container2{
        width: 85%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .container1 > .containerImg{
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerImg > .imgYo{
        width: 11rem;
        height: 11rem;
        border-radius: 10%;
    }
    .container1 > .containerName{
        width: 95%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nameHeader{
        font-size: 1.5rem;
        color: white;
    }
    .container2 > .containerTittleHeader{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerTittleHeader > .tittleHeader{
        color: #012801;
        font-size: 1.5rem;
    }
    .container2 > .containerParagraphHeader{
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
    }
    .containerParagraphHeader > .paragraphHeader{
        color: white;
        font-size: 1.3rem;
    }
        /*                            container del body       */
        .containerBody{
            width: 65%;
            height: 1770px;
            background-color: antiquewhite;
        }
        /*                            conainer proyects        */
        .containerBody > .containerProyectos{
            width: 100%;
            height: 545px;
        }
        .subcontainerProyectos > .containerCardsProyectos{
            width: 99%;
            height: 400px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .containerCardsProyectos > .cardsProyectos1{
            width: 45%;
            height: 10rem;
            background-color: #39a900;
            border-radius: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    /*                            conainer references        */
       .subcontainerReferences > .containerCardsReferences{
            width: 99%;
            height: 310px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        .containerCardsReferences > .subContainerCardsReferences{
            width: 99%;
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .subContainerCardsReferences > .cardReferences{
            width: 30%;
            height: 15rem;
            background-color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            border: 10px solid black;
        }
    /*                            conainer experience       */
        .containerBody > .containerExperience{
           width: 100%;
           height: 730px;
        }
        .containerExperience > .subcontainerExperience{
            width: 100%;
            height: 760px;
        }
    
        .subcontainerExperience > .subContainerCardsExperience{
            width: 99%;
            height: 600px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .subContainerCardsExperience > .cardExperience{
            width: 40%;
            height: 250px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        .barraExperience > .barraExperienceContainer{
            width: 60%;
            height: 3rem;
        }
}