*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerHeader{
    width: 100%;
    height: 360px;
    background-color: #005f91;
}
.containerHeader > .subcontainerHeader{
    width: 100%;
    height: 350px;
    *background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .container1{
    width: 45%;
    height: 300px;
    *background-color: gold;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.subcontainerHeader > .container2{
    width: 45%;
    height: 300px;
    *background-color:gold;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container1 > .containerImg{
    width: 100%;
    height: 12rem;
    *background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImg > .imgYo{
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
}
.container1 > .containerName{
    width: 95%;
    height: 5rem;
    *background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameHeader{
    font-size: 1.35rem;
    color: white;
}
.container2 > .containerTittleHeader{
    width: 100%;
    height: 2rem;
    *background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTittleHeader > .tittleHeader{
    color: #a18879;
}
.container2 > .containerParagraphHeader{
    width: 100%;
    height: 15rem;
    *background-color: chartreuse;
    display: flex;
    justify-content: center;
}
.containerParagraphHeader > .paragraphHeader{
    color: white;
}


/*                            container del body       */

.containerBody{
    width: 100%;
    height: 2700px;
    background-color: burlywood;
}
.containerBody > .containerProyectos{
    width: 100%;
    height: 360px;
    background-color: #a18879;
}
.containerProyectos > .subcontainerProyectos{
    width: 100%;
    height: 580px;
    background-color: cadetblue;
}
.subcontainerProyectos > .containertittle{
    width: 99%;
    height: 8rem;
    background-color: chocolate;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.containertittle > .logoImgSena{
    width: 30%;
    height: 6rem;
    background-color: #a18879;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoImgSena > .imgSena{
    width: 5rem;
    height: 5rem;
    background-color: #c1ff95;
    border-radius: 50%;
}
.containertittle > .containerTittleProyect{
    width: 60%;
    height: 6rem;
    background-color: #a18879;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerTittleProyect > .tittleProyect{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5b5d;   
}
.subcontainerProyectos > .containerLine{
    width: 99%;
    height: 2rem;
}
hr{
    height: 15px;
    background-color:#c1ff95;
}

.subcontainerProyectos > .containerCardsProyectos{
    width: 99%;
    height: 25rem;
    background-color: #cc1495;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCardsProyectos > .cardsProyectos1{
    width: 90%;
    height: 9rem;
    background-color: #39a900;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardsProyectos1 > .contImgCard1{
    width: 30%;
    height: 6rem;
    background-color: white;
}
.contImgCard1 > .imgproyect1{
    width: 6rem;
    height: 6rem;
}
.cardsProyectos1 > .contInformation1{
    width: 60%;
    height: 7rem;
    background-color: brown;
}